
<link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
<section class="showcase">
  <div class="video-container">
    <video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop></video>
  </div>
  <div class="content">
    <h1   data-wow-duration="4s" class=" animate__animated animate__slideInLeft">Добро Пожаловать</h1>
    <h3 data-wow-duration="3s" class=" animate__animated animate__slideInRight">Горнолыжные клубы Москвы и Подмосковья</h3>
    <a href="#about" class="btn">Далее</a>
  </div>
</section>

<section id="about">
  <h1 class="text-gray-50">О нас</h1>
  <p class="text-gray-50">
    Наш сайт предназначен для быстрого поиска нужного вам горнолыжного клуба.На нашем сайте присутствует удобная интерактивная карта с клубами.Так же предлагаем узнать историю возникновению горных лыж.
  </p>

  <h2 class="text-gray-50">Разделы</h2>

<div class="blogrow">
  <div class="card wow animate__animated  animate__slideInLeft">
    <i class="fas fa-map-marked fa-3x"></i>
    <h2>Карта с клубами</h2>
    <h5></h5>
    <p>На карте вы можете выбрать клуб</p><p>И узнать информацию об этом клубы</p>
    <a  href="map"   class="btn default">Читать больше</a>
  </div>
</div>
<div class="blogrow">
  <div class="card animate__animated animate__slideInRight">
    <i class="fas fa-landmark fa-3x"></i>
    <h2>История горных лыж</h2>
    <h5></h5>
    <p>Тут вы сможете узнать историю возникновения горных лыж </p><p> А так же узнать как устроены лыжи и сноуборд</p>
    <a href="hist" class="btn default">Читать больше</a>
  </div>
</div>
<div class="blogrow  wow animate__animated  animate__slideInLeft">
  <div class="card">
    <i class="fas fa-comments-alt fa-3x"></i>
    <h2>Обратная связь</h2>
    <h5></h5>
    <p>Вы можете обратиться к нам с интересующими вопросами</p>
     <a href="cont" class="btn default">Читать больше</a>
  </div>
</div>


</section>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

h1,h2,h3,p,a,span{
  font-family: 'Open Sans', sans-serif;
}

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: var(--primary-color);
	color: #fff;
	border-radius: 5px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;
}

.btn:hover {
	transform: scale(0.98);
}

#about {
	padding: 40px;
	text-align: center;
}

#about p {
	font-size: 1.2rem;
	max-width: 600px;
	margin: auto;
}

#about h2 {
	margin: 30px 0;
	color: var(--primary-color);
}

.social a {
	margin: 0 5px;
}
</style>
<!--
<div *ngIf="user">
  <p> Name user{{user.name}}</p>
  <p>Name age{{user.age}}</p>
</div>
-->
 <style>
/* Create two unequal columns that floats next to each other */
/* Left column */
.card p{
 padding-top: 10px;
}
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.blogrow{
  margin-top:30px;
  width: 100%;
}

/* Add a card effect for articles */
.card {
   background-color:#B0C4DE ;
   padding: 20px;
   margin-top: 20px;
   border-radius: 15px;
   width: 100%;
   max-width: 640px;
   margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
</style>
<style>
  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px
  }



  .default {background-color:
    #4c5e75 ; color: white;} /* Gray */
  .default:hover {background: #5681c7;}
  </style>

