<div  class="container mx-auto px-4 object-cover bg-zinc-700 rounded-md animate__animated  animate__slideInLeft "> 
    <img class="float-none rounded-md" src="https://i.ibb.co/tLjxjmm/image.jpg" > 
    <h4  class="text-xl text-orange-600 "><b>Гай Северина</b></h4> 
    <p class="ml-4">
      Один из 6-ти крупнейших
      горнолыжных комплексов Подмосковья
    </p>
        <li class="m-8">Мы находимся в 18 км от Москвы по Новорязанскому шоссе (трасса М5 «Урал»). <br> Горнолыжный клуб Гая Северина предлагает Вам несколько трасс разного уровня, общей протяженностью более 1 000 метров, с перепадом высот до 75 метров. <br> Наш клуб расположен на территории ООПТ «Боровской курган» и на данный момент мы обладаем самыми протяженными и высокими трассами на Юго-востоке Подмосковья. <br> На всех склонах Клуба установлены бесфундаментные буксировочные канатные дороги. <br>
          <p class="indent-4">
          Протяженность – 380 м
          Перепад – 76 м
         Ширина – до 35 м <br>
        «Звезда» — трасса с интересным рельефом, который представляет собой три ступени. Для тех, кто еще не совсем уверен в уровне своего катания, есть возможность схода с подъемника раньше верхней точки. Всегда выглаженный склон и много снега.
     <p class="indent-4">
        Протяженность – 420 м

        Перепад – 65 м
        Ширина – до 20 м
        Трасса «Лесная» — самая сложная трасса, которая включает в себя возможность катания по разным ее ответвлениям (расходится на несколько отдельных трасс). Предназначена для людей с высоким, экспертным и профессиональным уровнем катания.
      </p>
      <p class="indent-4">
        «Учебная»:
     Протяженность – 130 м
     Ширина – 20 м
     <p class="indent-4">
     «Инструкторская»:
     Протяженность – 110 м
     Ширина – 12 м

     «Учебная» и «Инструкторская» — трассы, предназначенные для тех, кто делает свои первые шаги в горных лыжах и сноубординге. Трассы довольно пологие, что дает возможность отточить азы техники, при этом трассы имеют разный профиль для более полного соответствия уровню катания. На трассе «Учебная» разрешено находится без инструктора. На трассу «Инструкторская» допускаются посетители только во время занятия с инструктором по горным лыжам или сноуборду. Самостоятельное катание на данной трассе запрещено.
      <h4  class="text-xl text-orange-400 ml-2 ">Ссылка на сайт:</h4> 
      <a href="https://chylkovo.ru"><button class="custom-btn btn-6 mt-3 ml-5"><span>Сайт</span></button></a>
      <h4 class="text-xl text-orange-400 ml-2 ">Стоимость:</h4>
      <table  border="1" >
        <tr>
         <th>1 подьем(взрослый)</th>
         <th>1 подьем(дети)</th>
         <th>1 подьем(взрослый-выходной)</th>
         <th>1 подьем(дети-выходной)</th>
        </tr>
        <tr>
         <td>60</td>
         <td>40</td>
         <td>100</td>
         <td>60</td>
       </tr>
      </table>
  </div>



  <style> 
    .card { 
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0);  /*что бы были тени*/
    transition: 0.3s;
    }
    .card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* что бы при наведение тени были еще больше*/
    }
 .container { /*небольшие отступы*/
    padding: 2px 16px;
 }
</style>
<style>
@media screen and (min-width: 600px) {
.container {
margin: 1em 2em;
}
}
</style>

<style> 
.card { 
box-shadow: 0 4px 8px 0 rgba(0,0,0,0);  /*что бы были тени*/
transition: 0.3s;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* что бы при наведение тени были еще больше*/
}

</style>

<style> /* цвета трасс*/
.colortext {
color: green;
}

</style>
<style>
.colortext2 {
color: blue;
}

</style>

<style>
.colortext3 {
color: red;
}
</style>

<style>
.colortext4 {
color: black;
}
</style>

<style> /*кнопка на карту второй вид*/
.custom-btn {
width: 90px;
height: 37px;
color: #fff;
border-radius: 5px;
padding: 10px 25px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
outline: none;
}
.btn-6 {
background: rgb(247,150,192);
background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
line-height: 42px;
padding: 0;
border: none;
}
.btn-6 span {
position: relative;
display: block;
width: 100%;
height: 100%;
}
.btn-6:before,
.btn-6:after {
position: absolute;
content: "";
height: 0%;
width: 1px;
box-shadow:
 -1px -1px 20px 0px rgba(255,255,255,1),
 -4px -4px 5px 0px rgba(255,255,255,1),
 7px 7px 20px 0px rgba(0,0,0,.4),
 4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
right: 0;
top: 0;
transition: all 500ms ease;
}
.btn-6:after {
left: 0;
bottom: 0;
transition: all 500ms ease;
}
.btn-6:hover{
background: transparent;
color: #76aef1;
box-shadow: none;
}
.btn-6:hover:before {
transition: all 500ms ease;
height: 50%;
}
.btn-6:hover:after {
transition: all 500ms ease;
height: 50%;
}
.btn-6 span:before,
.btn-6 span:after {
position: absolute;
content: "";
box-shadow:
 -1px -1px 20px 0px rgba(255,255,255,1),
 -4px -4px 5px 0px rgba(255,255,255,1),
 7px 7px 20px 0px rgba(0,0,0,.4),
 4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
left: 0;
top: 0;
width: 0%;
height: .5px;
transition: all 500ms ease;
}
.btn-6 span:after {
right: 0;
bottom: 0;
width: 0%;
height: .5px;
transition: all 500ms ease;
}
.btn-6 span:hover:before {
width: 50%;
}
.btn-6 span:hover:after {
width: 50%;
}
</style>





<style >
TABLE {
border-collapse: collapse; /*  двойные границы между ячейками */
background: rgb(10, 129, 198); /* Цвет фона таблицы */
border: 4px solid rgb(26, 35, 202); /* Рамка вокруг таблицы */
border-radius: 15px;
}
TD, TH {
padding: 5px; /* Поля вокруг текста */
border: 2px solid rgb(87, 9, 9); /* Рамка вокруг ячеек */
border-radius: 15px;
}
</style>
